* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f5f9fa;
 background-image: url(https://img.freepik.com/premium-vector/white-background-with-lines-pattern-design-vector-illustration_755074-82.jpg);  
}

.firstheading {
  background-color: #1b2435;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.firstheading h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}
.firstheading h2 {
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-style: italic;
}
.aboutme {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
}

.aboutme h3 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.aboutme h6 {
  color: rgb(83, 83, 83);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 20;
  margin-left: 50px;
  margin-right: 50px;
}

.education {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(70, 160, 212, 0.199);
}

.education h3 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.box {
  background-color: white;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.box h1 {
  font-size: 20px;
  font-weight: 10;
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: "Times New Roman", Times, serif;
}

.skills {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(212, 210, 70, 0.342);
}

.skills h3 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.projects {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgba(172, 70, 212, 0.13);
}

.projects h3 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#projectslinks {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.contactme {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgba(70, 212, 77, 0.13);
}

.contactme h3 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#contacth5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
  background-color: #1b2435;
}
.footer h3 {
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
